<% title "Kisses from a good God"%>

<div class="container">

	<div class="row">
		<div class="splash-content span24">
			<div class="row">
				<div class="span9 offset2" style="text-align:center; ">
					<%= image_tag("kisses_from_a_good_god_large.jpg") %>
					
					<p><%= link_to "Buy At iBethel", "http://store.ibethel.org/p6704/kisses-from-a-good-god-book?ref=12", :class => "btn btn-inverse" %></p>
				</div>	
				<div class="span10 offset1">				
					<h1>Kisses from a Good God</h1>
					<h2>by Paul Manwaring</h2>	
					<p>Author Paul Manwaring was diagnosed with prostate cancer in January 2008. Kisses from a Good God recounts his journey from the first diagnosis, through the prayers of believing friends and family, his choice to undergo surgery, and to his ultimate victory over cancer.</p>

					<p>Kisses from a Good God is for you.  Paul’s journey is a marriage of the medical world and the supernatural encounters and interventions of God, and redefines victory through the eyes of a cancer survivor saved by God in the form of modern medicine. Paul addresses and deals with the shame that can accompany disease, a shame particularly felt by some whose healing didn’t come through prayer alone.</p>
					<div class="endorsement">
					"The Manwaring victory has become a corporate blessing for us at Bethel Church.  Through this book, countless thousands will become equipped to turn potential tragedy into triumph, bringing individuals and entire families into great victory."
					</div>
					<h3>Bill Johnson</h3>			
				</div>			
			</div>
			

			<div class="row">
				<div class="span20 offset2 promo-video">
					<iframe width="560" height="315" src="http://www.youtube.com/embed/q7mfguNBAek" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

		</div>	
	</div>	

	<div class="row">
		<div class="span6 offset9">
			<a href="/home" class="back-button"><small>Return to</small><br />Paul Manwaring</a>
		</div>	
	</div>	
</div>	