<div class="breadcrumbs">
	<ul class="breadcrumb">
		<li><%= link_to content_tag(:span, "Home", :class => "home"), admin_posts_path %></li>
		<%- if parent_text && parent_url -%>
			<li><%= link_to parent_text, parent_url %></li>
		<%- end -%>
		<%- if sub_parent_text && sub_parent_url -%>
			<li><%= link_to sub_parent_text, sub_parent_url %></li>
		<%- end -%>	
		<li><%= @title %></li>
	</ul>
</div>