/* Custom Styles for the Travel App form */
#request-trip h1.page-header { display: none; }
#request-trip h2 { display: none; }
#new_trip > ul { display: none; }

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #5c554b;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #605c53;
  background-image: -moz-linear-gradient(top, #514d45, #787369);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#514d45), to(#787369));
  background-image: -webkit-linear-gradient(top, #514d45, #787369);
  background-image: -o-linear-gradient(top, #514d45, #787369);
  background-image: linear-gradient(to bottom, #514d45, #787369);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF514D45', endColorstr='#FF787369', GradientType=0);
  border-color: #787369 #787369 #4f4c45;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  *background-color: #787369;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bdbcb7;
  *border: 0;
  border-bottom-color: #a5a39c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 487, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/bootstrap-sass-2.1.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #5c554b;
  background-color: #787369;
  *background-color: #6a665d;
}
/* line 495, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/bootstrap-sass-2.1.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn:active, .btn.active {
  background-color: #5d5951 \9;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/bootstrap-sass-2.1.0.1/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn:first-child {
  *margin-left: 0;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/bootstrap-sass-2.1.0.1/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn:hover {
  color: #5c554b;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/bootstrap-sass-2.1.0.1/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/bootstrap-sass-2.1.0.1/vendor/assets/stylesheets/bootstrap/_buttons.scss */
.btn.active, .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}



.help-block {
  color:#767267;  
  font-size:11px;
  font-family: Helvetica, Arial, sans-serif;  
}

.help-inline {
  font-family: Helvetica, Arial, sans-serif;  
}
.chzn-single, 
.chzn-results,
label,
input,
button,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  color:#000;
}

label {
  color:#767267;
}
legend {
  font-size:14px;
  color: #7A776D;
  font-family: "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-transform:uppercase;
  margin-bottom:0;
}
.label-pad {
  margin-top:30px;
}

.control-group {
  margin-bottom:0;
}

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #000;
}
abbr[title] {
  color:#9d261d;
  border-bottom:0;  
}

fieldset {
  margin-bottom:30px;
}

.form-actions {
  padding:0;
  margin-top:40px;
  border-top:0;
  background-color:transparent;
}