<div class="row">
  <div class="span12">
  	<h1>Unlikely revivalists</h1>
	<p>Men and women stopping at nothing to establish the Kingdom in their sphere of influence.</p>
  </div>
</div>

<div class="row">
  <div class="span3">
  	<h1>Minister</h1>

  </div>
  <div class="span3">
  	<h1>Athlete</h1>

  </div>
  <div class="span3">
  	<h1>Author</h1>

  </div>
</div>

<div class="row">
  <div class="span12">

  </div>
</div>