<% title "Give" %>

<div class="row">
  <div class="span12">
  	<h1>Our Heart</h1>
	<%= markdown(@our_heart.content) %>
  </div>
</div>

<div class="row">
  <div class="span3">
  	<h1>Chloe and Stu's Orphanage</h1>
	<%= markdown(@chloe_and_stu.content) %>
  </div>
  <div class="span3">
  	<h1>John and Sarah's Orphanage</h1>
	<%= markdown(@john_and_sarah.content) %>
  </div>
  <div class="span3">
  	<h1>Down Syndrome Charity</h1>
	<%= markdown(@down_syndrome.content) %>
  </div>
</div>

<div class="row">
  <div class="span12">
  	<h1>Payments are securely processed by paypal</h1>
  </div>
</div>