<h1>Intro</h1>
<%= raw(@intro.content) %>

<h1>Instagram Photos</h2>
<% @instagrams.each do |instagram| %>
	<p><%= image_tag instagram.low_resolution_url %><br />
	<%= link_to "View in instagram", instagram.link_url %>
	</p>
<% end %>	