<% home_page ||= false %>

<div class="mini-event-box">
		<h6><%= event.title %></h6>
		<p class="place"><%= event.location %></p>
		<p class="date"><%= nice_date(event.starts_at, event.ends_at, true) %></p>
</div>