<div class="mini-event-box">
		<h6><%= link_to event.title, events_path + "##{event.id}" %></h6>
		<p class="place"><%= event.location %></p>
		<p class="date"><%= nice_date(event.starts_at, event.ends_at, true) %></p>
</div>