<% title "Invite Paul" %>

<div class="green-bg">
  <div class="invite-header">
    <div class="container">
      <div class="nav-intro">
        <h1>Why invite Paul</h2>
        
      </div>  
    </div>  
  </div>  
</div>
<div class="container">
  <div class="row">
    <div class="span24">
      <h2><strong>How</strong> to invite Paul</h2>
    </div>  
  </div>
  <div class="row">
    <div class="span24">
      <div class="white-box">
        
      </div>
    </div>  
  </div>    
</div>  
<div class="white-bg">
  <div class="container">
    <div class="row"> 
      <div class="span24">        
        <h1><%= @title %></h1>
        <h6>Please supply us with the following information</h6>
      </div>
    </div>    
    <div class="row" style="height:4000px; ">     
      <iframe src="http://travel.ibethel.org/questionnaires/paul/trips/new?iframe=true" height="100%" width="100%" seamless="true"></iframe>
    </div>
  </div>
</div>