<%= form_for([:admin, @tag], remote: true, id: "new_tag") do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="noteinput">
    <%= f.text_field :tagstring %>
  </div>
  <div class="noteprivate">
  <div class="actions">
    <%= f.submit "Add Tag", class: "btn small" %>
  </div>
</div>
<% end %>
