<li id="tag_<%= tag.id %>"><%= tag.tagstring %>
<%- if can? :destroy, tag -%>
	<%= link_to([:admin, tag], :method => :delete, :remote => true) do %><i class="icon-remove-sign"></i><% end %>
<%- end -%>
</li>