<% title "Contact Us" %>

<div class="container">
	<div class="row">
	  <div class="span18">

		<h1><%= @title %></h1>

		<% if params[:sent] %>
			<p>
				Thank you. We will be in touch with you shortly.
			</p>
			<p>
				&nbsp;
			</p>
			<p>
				&nbsp;
			</p>
			<p>
				&nbsp;
			</p>						
		<% else %>
			<p>
				Contact us using the form below.
			</p>

			<%= render "form" %>
		<% end %>
	  </div>
		
	  <div class="span6">
			<h2>By Mail</h2>
			<address><strong>Paul Manwaring</strong><br>
			933 College View Dr.<br>
			Redding, Ca 96003</address></p>
			<h2>By Phone</h2>
			<p>(530) 246-6000</p>
			<h2>Amazon</h2>
			<p><%= link_to "Amazon Author Page", "http://www.amazon.com/Paul-Manwaring/e/B005TKJ2IC/ref=sr_tc_2_0?qid=1351527472&sr=1-2-ent" %></p>			
	  </div>
	</div>
	<div class="row">
		<div class="span24 pad"></div>
	</div>
	<div class="row">
		<div class="span24 pad"></div>
	</div>		
</div>

