<%= render :partial => "tabs", :locals => { tab: "posts" } %>

<div id="content"><div class="pad">

	<div class="breadcrumbs">
		<ul class="breadcrumb">				
			<li><%= link_to "Posts", admin_posts_path %></li>
			<li>New</li>				
		</ul>
	</div>
		
	<%= render 'form' %>

</div></div>
