<% title "Admin Dashboard" %>
<% selected_nav "pages" %>

<%= show_breadcrumbs() %>

<div id="content" class="dashboard"><div class="pad">
	
	<div class="leftcol">
		
		<h1>Administration Dashboard</h1>
	
	</div>
	<div class="rightcol">
		
	</div>

</div></div>