/*
*= require_self
*= require superfish/superfish
*= require chosen/chosen
*/

/* HTML5 ? Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1.4em 0; padding: 0; width: 100%; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: top; margin-top:2px;}
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { -moz-border-radius: 1px; border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #EAE2D9; color:#26251F; text-shadow: none; }
::selection { background:#EAE2D9; color:#26251F; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #62A5CC; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; color:#20699A; }
a:hover { color: #2A0749; color:#694684; }
ul{list-style:none;}

/**
 * Primary styles
 *
 * Author: Joel Sawyer
 */
body {
	padding:0; 
	margin:0; 
	width:100%; 
	height:100%; 
	background:#FFF; 
	color:#666;
	font-family: proxima-nova-1,proxima-nova-2,sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size:14px;
	}

/**
 * Form Elements
 */
form {}
input[type="text"], input[type="email"], input[type="password"], textarea {
	font-size: 14px;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #AAA;
	background-image: url("/assets/bgd-inputshadow.png") !important;
	background-repeat: repeat-x;
	background-color: white;
}

/**
 * Main Template Sections
 */	
#header {
	background: url("/assets/bgd-header.gif") bottom center repeat-x;
	}
#header .pad, #nav .nav, .breadcrumb, #section_head .pad, #content .pad  {  /* width of app */	
	width:980px;
	margin: 0 auto;
	}
#header .pad {
	padding: 6px 0;
	color: #B1AEAC;
	line-height: 24px;
	}
#header a {
	text-decoration: none;
	}
#header .myphoto {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	}
#header a.admin {
	color: #B1AEAC;
	font-weight: 600;
	}
#header a.admin:hover {
	color: #666;
	}
#header a.logout {
	padding: 2px 4px;
	border-radius: 4px;
	background: #BBB9B8;
	color: #D5D5D5;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	}
#header a.logout:hover {
	background: #666;
	}
#header img {
	vertical-align: top;
	}
#header .vdivider {
	padding: 0 10px;
	}
	
/**
 * Quicksearch
 */
#quicksearch .quicksearchbox {
	float: right;
	margin: 0px 0 0 0;
	width: 390px;
	text-align: right;
	}
#quicksearch #term {
	width: 100%;
	background-image: url("/assets/bgd-inputshadow-search.png") !important;
	background-position: right -2px;
	}
#results_search input[type="text"].searchinput {
	background-image: url("/assets/bgd-inputshadow-search.png") !important;
	background-position: right -2px;
	width: 242px;
	}
#results_search input[type="submit"] {
	display: none;
	}
#quicksearch form div {padding-top:0px;}
#quicksearch .quicksearchresults {
	display: none;
	position: absolute;
	top: 38px;
	left: 50%;
	margin: 0 0 0 145px;
	width: 390px;
	z-index: 9000;
	background: #EEE;
	border: 1px solid #CCC;
	-moz-box-shadow: 1px 1px 8px #999;
	-webkit-box-shadow: 1px 1px 8px #999;
	box-shadow: 1px 1px 8px #999;
	}
#quicksearch ul { margin: 0; }
#quicksearch h3 {
	color:#DFDFDF;
	margin:0;
	padding: 14px 18px 14px 18px;
	}
#quicksearch .loading {
	float: right;
	padding: 16px 18px 0 0px;
	}
#quicksearch .quicksearchresults label {
	text-indent: -9999px;
	display: block;
	width: 390px;
	}
#quicksearch .quicksearchresults label.posts {
	background: url("/assets/quicksearch-posts.gif") top center no-repeat;
	}
#quicksearch .quicksearchresults label.people {
	background: url("/assets/quicksearch-people.gif") top center no-repeat;
	}
#quicksearch .quicksearchresults label.organizations {
	background: url("/assets/quicksearch-organizations.gif") top center no-repeat;
	}
#quicksearch .quicksearchresults label.events {
	background: url("/assets/quicksearch-events.gif") top center no-repeat;
	}
#quicksearch .quicksearchresults ul {
	padding: 0 0px 10px 0px;
	}
#quicksearch .quicksearchresults ul li {
	padding: 1px 0;
	}
#quicksearch .quicksearchresults ul li a {
	display: block;
	text-decoration: none;
	font-size: 11px;
	color: #444444;
	line-height: 13px;
	padding: 6px 26px;
	font-family: Verdana, Geneva, sans-serif;
	overflow: hidden;
	}
#quicksearch .quicksearchresults ul li a:hover {
	background: #DDD;
	}
.quicksearchresultsitemhover {
	background: #E9E2D9;
	}
#quicksearch .quicksearchresults ul li a .icon {
	float: left;
	margin: 0px 6px 0 0;
	}
#quicksearch .quicksearchresults ul li a .photo {
	float: left;
	margin: 0 6px 0 0;
	padding:0;
	border:1px solid #2699E5;
	line-height: 1px;
	}
#quicksearch .quicksearchresults ul li a .title {
	color: #2699E5;
	font-size: 14px;
	}
#quicksearch .quicksearchresults ul li.more a {
	text-decoration: underline;
	font-size: 11px;
	color: #2699E5;
	padding: 0 26px 8px 26px;
	}
#quicksearch .quicksearchresults ul li.more a:hover {
	background: none;
	text-decoration: none;
	}
#quicksearch .quicksearchresults a.close {
	float: right;
	margin: 0 18px 18px 0;
	color: #CCC;
	}
.watermark { color: #CCC; font-style: italic; }

/**
 * Navigation
 */
#nav {
	width: 100%;
	background: #3A105C;
	float: left;
 	border-top: 1px solid #333333; 
}
#nav .sf-menu li:hover ul, #nav .sf-menu li ul, #nav .sf-menu li.sf-hover ul {
	top: 56px;
	border-radius: 0px 0px 4px 4px;
	}
#nav .sf-menu li ul li:last-child, #nav .sf-menu li ul li:last-child a {
	border-radius: 0px 0px 4px 4px;
}
#nav .sf-menu li:hover ul hr, #nav .sf-menu li ul hr {
	background: #694684;
	border:0;
	border-top: 1px solid #4A1F6A;
}
#nav .sf-menu li li { background: #4F266E; }
#nav .sf-menu li li a { color: #E1DAE6; padding: .6em 1em; }
#nav .sf-menu li li:hover, #nav .sf-menu li li a:hover { background: #694684; box-shadow: none;}
#nav .sf-menu li:hover, 
	#nav .sf-menu li.sfHover,
	#nav .sf-menu a:focus, 
	#nav .sf-menu a:hover, 
	#nav .sf-menu a:active {
	background:		#694684;
	outline:		0;
	}
#nav .nav {}
#nav .nav ul.sf-menu {}
.sf-menu a, .sf-menu a:visited, #nav .nav ul.sf-menu .selected ul li a  { 
	color: #E1DAE6;
	box-shadow: none;
	}
#nav .nav ul.sf-menu .selected a { color: #FFF; }

.selected a { background: #4F266E; };

#nav .sf-shadow ul {
	box-shadow: 0 3px 8px 0px rgba(0,0,0,0.7);
	padding: 0;
}

/**
 * Flash notice and validation
 */
#flash_notice {
	width: 100%;
	overflow: hidden;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	padding: 10px 0;
	background:url("/assets/bgd-flash.jpg") repeat-x #66CC00;
	}
#flash_notice a {
	color: #E1FFC5;
	}
#flash_alert {
	width: 100%;
	overflow: hidden;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	padding: 10px 0;
	background:url("/assets/bgd-flash-alert.jpg") repeat-x #CF1A09;
	}
#flash_alert a {
	color: #F7D7D7;
	}

#error_explanation {background:url("/assets/icon-alert.png") 20px 20px no-repeat #CC0000; padding:18px 20px; margin-bottom:20px;}
#error_explanation h2 {color:#FFF; text-shadow: none; font-size:16px; font-weight: 600;}
#error_explanation ul {color:#FFF; font-size:16px; font-weight: 600; padding:0 0px;}
#error_explanation ul li { list-style: none; }
.field_with_errors {background:url("/assets/icon-alert-right.png") right 8px no-repeat;  padding:6px 0; min-height: 20px;}
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {border-color:#F00; }	
form.edit_ldp_registration .field_with_errors .chzn-single {
	border: 1px solid red;
	}

/**
 * Breadcrumbs
 */	
.breadcrumbs { 
	width: 100%;
	float: left;
	background: url("/assets/bgd_breadcrumbs.gif") repeat-x; 
	}
#content .breadcrumbs { 
	background: url("/assets/bgd_breadcrumbs.jpg") center bottom repeat-x; 
	margin: -30px 0 40px 0;
	}
.breadcrumb {
	padding:0;
	overflow: hidden;
	list-style: none;
	color: #777;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
	line-height: 32px;
	}
#content .breadcrumb {
	line-height: 40px;
}
.breadcrumb li {
    float: left;
	margin:0;
	padding:0 0 0 10px;
	list-style: none;
	}
.breadcrumb li a {
	color: #999;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
	font-weight: 700;
	padding: 0px 20px 0px 0px;
	background: url("/assets/breadcrumb_arrow.png") right no-repeat; 
	position: relative;
	display: block;
	float: left;
	}
#content .breadcrumb li a {
	background: url("/assets/breadcrumb_arrow_larger.png") right no-repeat; 
}
.breadcrumb li a:hover {
	color: #666;
	}
.breadcrumb li a .home {
	display:block;
	width:20px;
	height:32px;
	background-image: url("/assets/breadcrumb_home.png");
	background-position: center 10px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	}
.breadcrumb li a:hover .home {
	background-position: center -17px;
	}


/**
 * Button Styles
 */
a.btn, button.btn, input.btn, input[type="submit"] {
	display: inline-block;
	margin: 0px 0 5px 5px;
	padding: 4px 10px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2em;
	text-align: center;
	text-decoration: none;
	background: #2380AA;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BB7CF', endColorstr='#2380AA');
	background: -webkit-gradient(linear, left top, left bottom, from(#7BB7CF), to(#2380AA));
	background: -moz-linear-gradient(top, #7BB7CF, #2380AA);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-radius: 0px \0/;
	border: 1px solid #2481AB;
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	}
a.btn:hover, button.btn:hover, input.btn:hover, input[type="submit"]:hover {
	color: #FFF;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62CBF2', endColorstr='#0B94C1');
	background: -webkit-gradient(linear, left top, left bottom, from(#62CBF2), to(#0B94C1));
	background: -moz-linear-gradient(top, #62CBF2, #0B94C1);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
	}
	
a.green, a.add {
	color: #FFF;
	background: #6D971D;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0D02B', endColorstr='#6D971D');
	background: -webkit-gradient(linear, left top, left bottom, from(#A0D02B), to(#6D971D));
	background: -moz-linear-gradient(top, #A0D02B, #6D971D);
	border: 1px solid #63891B;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
	}
a.green:hover, a.add:hover {
	color: #FFF;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C1F14D', endColorstr='#92BC3F');
	background: -webkit-gradient(linear, left top, left bottom, from(#C1F14D), to(#92BC3F));
	background: -moz-linear-gradient(top, #C1F14D, #92BC3F);
	}

a.red {
	color: #FFF;
	background: #FF3424;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7F59', endColorstr='#FF3424');
	background: -webkit-gradient(linear, left top, left bottom, from(#FF7F59), to(#FF3424));
	background: -moz-linear-gradient(top, #FF7F59, #FF3424);
	border: 1px solid #EC0C00;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
	}
a.red:hover {
	color: #FFF;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA17B', endColorstr='#FF5948');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA17B), to(#FF5948));
	background: -moz-linear-gradient(top, #FFA17B, #FF5948);
	}
	
a.grey, a.dim, a.delete, button.grey, input.grey, button.dim, input.dim {
	color: #666;
	background: #D6D6D6;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorstr='#D6D6D6');
	background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#D6D6D6));
	background: -moz-linear-gradient(top, #E7E7E7, #D6D6D6);
	border: 1px solid #B5B5B5;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
	}
a.grey:hover, a.dim:hover, a.delete:hover, button.grey, input.grey, button.dim, input.dim {
	color: #333;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorstr='#C6C6C6');
	background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C6C6C6));
	background: -moz-linear-gradient(top, #E7E7E7, #C6C6C6);
	}
	
a.tiny {
	font-size: 10px !important;
	padding: 2px 4px;
	margin: -3px 0;
	vertical-align: middle;
	}	
a.small, button.small, input.small {
	padding: 2px 8px;
	font-size: 12px !important;
	font-weight: 600;
	}
a.large, button.large, input.large {
	padding: 6px 20px;
	font-size: 17px !important;
	}
a.xlarge, button.xlarge, input.xlarge {
	padding: 10px 30px;
	font-size: 24px !important;
	}
a.right, button.right, input.right {
	float: right;
	}
a.left, button.left, input.left {
	float: left;
	margin-right: 20px;
	}
a.btn img {
	vertical-align: text-bottom;
	margin-bottom: -1px;
}	
a.btn.large img {
	vertical-align: middle;
}

/**
 * Content Styles
 */
#section_head, #content {
	float: left;
	width: 100%;
	background: url("/assets/bgd_entity.gif") center bottom repeat-x;
	padding-bottom: 20px;
	}
#section_head.dashboard, #content.dashboard { background: #EEE; }
#content.dashboard .rightcol {

	}
#content.dashboard .rightcol .box {
	background: #DDD;
	border-bottom: 1px solid #B7B7B7;
	}
#content.dashboard .rightcol .box h2 {
	color: #999;
	}
#content.dashboard .rightcol .box form {
	padding-top: 10px;
	}
#section_head.index { 
	background: none;
	}
#section_head .pad, #content .pad {
	padding: 30px 20px 0 20px;
	}
#section_head .actionbar {
	float: right;
	margin: 0;
	}
#section_head a.photo, #section_head .photo img {
	float: left;
	border-radius: 6px; 
	}
#section_head a.photo, #section_head img.photo {
	margin: 0 20px 0px 0;
	}
#section_head .description {
	padding-top: 10px;
	}
a.change-photo {
	text-decoration: none;
	font-weight: 700;
	}
.change-photo span {
	display: none;
	position: absolute;
	margin: -40px 0 0 -15px;
	height: 27px;
	line-height: 27px;
	width: 100px;
	text-align: center;
	color: #FFF;
	text-indent: -9999px;
	background: url("/assets/change-photo.png") no-repeat;
	}
.change-photo:hover span {
	display: block;
	}
#section_head h2 {
	color: #999;
	font-size: 16px;
	font-weight: 100;
	margin-top: 10px;
	}	
#section_head h2 img {
	margin-bottom: -5px;
}

#content { background: none; padding-bottom: 60px; }
#content .leftcol { 
	float: left;
	width: 72%; 
	margin-right: 20px; 
	}
#content .leftcol2 { 
	float: left;
	width: 22%; 
	margin-right: 20px;
	}
#content .leftcol .box, #content .rightcol2 .box {
	padding: 10px 20px;
	background: #F7F7F7;
	overflow: hidden;
	border-radius: 6px;
	}
#content .leftcol .box {
	margin-top: 10px;
}
#content .rightcol { 
	float: left;
	width: 22%; 
	padding: 0px;
	}
#content .rightcol2 { 
	float: left;
	width: 72%; 
	padding: 0px;
	}	
#content .rightcol dl, #content .rightcol .box {
	padding: 5px 20px 10px 20px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 6px;
	border-radius: 6px;
	background: #F2F2F2;
}
#content .rightcol hr {
	margin: 6px 0;
	border-top: 1px dotted #CCC;
}
#content .leftcol2 dl, #content .leftcol2 .box {
	border-bottom: 1px solid #CCC;
	margin-bottom: 6px;
	border-radius: 6px;
	background: #F2F2F2;
}
#content .leftcol2 dt {
	padding: 10px 20px 0px 20px;
}
#content .leftcol2 dd {
	padding: 10px 20px;
}
#content .leftcol2 a.wide {
	width: 166px;
	margin-bottom: 270px;
	margin-left: 0;
}
	
h1 { 
	font-size: 36px;
	font-weight: 600;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	line-height: 36px;
	padding-bottom: 8px;
	color: #3A105C;
	}
h2 {
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 8px;
	color: #3A105C;
	}
h3 {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 8px;
	color: #666;
	}
h4 {
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 8px;
	color: #666;
	}
p {
	padding-bottom: 4px;
	}
span.status {
	padding: 2px 6px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	background: #3A105C;
	background: #8F8F8F;
	color: #D7D7D7;
	border-radius: 4px;
	}
span.status a {
	color: #FFF;
	text-decoration: none;
}
span.status a:hover {
	color: #CCC;
	text-decoration: none;
}
span.status.active {
	background: #A0D02B;
	color: #FFF;
}
span.status img {
	height: 12px;
	margin-bottom: -1px;
	}
	.status.declined, .status.application_declined_by_mentor, .status.invitation_declined_by_student { background-color: #9E0000; }
	.status.mentor_invited, .status.invited { background-color: #64AB03; }
	.status .waiting_for_mentor { background-color: #F4C400; }
	.status.matched { background-color: #4B4B4B; }
h1 .status {
	text-shadow: none;
	vertical-align: middle;
}
h1 a {
	text-decoration: none;
}
.actions, .box .right {
	float: right;
}
.into_breadcrumb {
	margin-top: -74px;
}

/**
 * Tabs
 */	
ul.tabs {
	display: block;
	width: 100%;
	list-style: none;
	padding: 20px 0 0 0;
	margin:0 0 -20px 0;
	overflow: hidden;
	font-size:16px;
	line-height:30px;
	}
ul.tabs li {
	float: left; 
	margin-right: 4px;
	}
.tabs a, .tabs a:link, .tab a:visited {
	display: block;
	height: 30px;
	padding: 0 20px;
	line-height: 30px;
	font-weight: 600;
	text-decoration: none;
	background: none;
	color:#8F8F8F;
	}
.tabs a span {}
ul.tabs a:hover {
	display: block;
	color: #D7D7D7;
	background: #8F8F8F;	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
ul.tabs a:hover span {}
ul.tabs .active a:link, ul.tabs .active a:visited, ul.tabs .active a:visited, ul.tabs .active a:hover {
	color: #8F8F8F;
	background: #FFF;	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	} 
ul.tabs .active a span, ul.tabs .active a:hover span {}

/* DL, DT, DD TAGS LIST DATA */
dl.stacked, dl, .rightcol .box {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0;
	}
#content .rightcol .box.darken {
	background: #DDD;
}
dl.stacked dt, dl dt, .info h2, .box h2 {
    margin: 0;
    padding: 6px 0;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #B7B7B7;
	}
dl.stacked dd, dl dd {
    margin: 0;
    padding: 0 0 10px 20px; 
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	}
	
dl dl, dl.stacked dl {
	width: 100%;
	margin: 0;
	padding: 0;
	}
dl dl dt, dl.stacked dl dt {
	position: relative;
	left: 0;
	top: 0;
    width: 20%;
	margin: 0 0 -1.7em 0;
	font-size: 14px;
	font-weight: 100;
	text-align: left;
	text-transform: none;
	color: #666;
	}
dl dl dd, dl.stacked dl dd {
	width: 60%;
    margin: 0 0 0 20%;
    padding: 0 0 0px 10px; 
	font-size: 16px;
	}
	
dl.inline {
	width: 100%;
	padding: 0;
	}
dl.inline dt {
	position: relative;
	left: 0;
	top: 1.3em;
    width: 20%;
	color: #B7B7B7;
	font-weight: 100;
	}
dl.inline dd {
	width: 60%;
    margin: 0 0 0 20%;
    padding: 0 0 0px 5px; 
	font-size: 16px;
	}

dt .vis {
	float: right;
	background: #CCC;
	padding: 2px 4px;
	margin: -1px 0 0 20px;
	font-size: 10px;
	border-radius: 4px;
	color: #FFF;
}
dl a.mapit {
	float: left;
	margin: 0 12px 0 0;
}
dl dd .photo, div .photo, div .photo img {
	float: left;
	border-radius: 4px; 
	}
dl dd .mini_profile, .mini_profile {
    float: left;
	padding-left: 10px;
	font-size: 14px;
	}
dl dd .mini_profile p, .mini_profile p{
    padding: 0;
	}
dl dd .mini_profile h3 a, .mini_profile h3 a, .mini_profile h3 {
	font-size: 18px;
	text-decoration: none;
	}
dl dd .mini_profile .title, .mini_profile .title {
	font-weight: 700;
	}
dl dd .mini_profile a.url, .mini_profile a.url {
	color: #999;
}

.info { padding-bottom: 30px; }
.info li { overflow: hidden; }

dd .book .left , dd .download .left {
	float: left;
	margin-right: 6px;
}
.box .actions {
	float: right;
	padding: 10px 0 0 0;
}

/**
 * Notes Box
 */
#content .rightcol .box.notes {
	padding: 0;
	width: 255px;
}
#content .rightcol .box.notes ul {
	margin: 0;
}
.box.notes h2 {
	padding: 6px 20px;
}
.box.notes form {
	padding: 0 20px 6px 20px;
	overflow: hidden;
}
.box.notes .noteinput, .box.notes .noteprivate {
	margin: 0;
	padding: 0;
}
.box.notes .noteinput input {
	width: 95%;
}
.box.notes .actions {
	width: 100px;
}
.box.notes .noteprivate {
	padding-bottom:6px;
}
.box.notes input[type="submit"] {
	float: right;
}
.box.notes .none {
	color: #9A9791;
	display: block;
	width: 100%;
	text-align: center;
}
.box.notes .none {
	color: #333;
}
.box.notes li.note {
	color: #333;
	padding: 0px;
	margin: 0;
	border-top: 1px dotted #CCC;
}
.box.notes li.note:last-child a {
	border-radius: 0px 0px 4px 4px;
}
.box.notes li.note.none {
	padding: 6px 0px;
	color: #CCC; 
}
.box.notes a.deletenote, .box.notes a.deletepost {
	display: block;
	text-decoration:none;
	color: #333;
	margin: 0;
	padding: 6px 20px;
	background-image: url('/assets/icon_delete.png');
	background-position: 0px -30px;
	background-repeat: no-repeat;
}
.box.notes a.deletenote:hover, .box.notes a.deletepost:hover {
	background-position: 0px 10px;
	background-color: #DDD;
	cursor: not-allowed;
}
.box.notes a.deletenote .noteby, .box.notes a.deletepost .noteby, .box.notes li.note .noteby {
	width: auto;
	color: #8F8F8F;
}


/**
 * Results Navigation and Pagination
 */
.results_info { 
	width: 100%; 
	padding-bottom: 10px; 
	line-height: 30px; 
	overflow: hidden;
	}
#results_search {
	float: right;
	width: auto;
}
#results_search input[type="checkbox"], #results_search label {
	vertical-align: middle;
}
.results_total { color: #999; }
	
.pagination {
	float: right;
	margin-top: 10px;
	}
.pagination .page, .pagination .next, .pagination .prev {
	display: block;
	float: left;
	font-weight: 800;
	}
.pagination .current {
	display: block;
	text-align: center;
	line-height: 28px;
	width:28px;
	background-image: url("/assets/pagination_page.png");
	background-position: center -30px;
	background-repeat: no-repeat;
	color: #FFF;
	}
.pagination .page a {
	display: block;
	text-align: center;
	line-height: 28px;
	width:28px;
	color: #999;
	text-decoration: none;
	background-image: url("/assets/pagination_page.png");
	background-position: center 0;
	background-repeat: no-repeat;
	}
.pagination .page a:hover {
	background-position: center -60px;
	color: #378CB2;
	}
.pagination .gap {
	line-height: 28px;
	color: #DDD;
	}
.pagination .next a, .pagination .prev a  {
	display: block;
	margin: 0 10px;
	text-indent: -9999px;
	line-height: 28px;
	width: 28px;
	background-image: url("/assets/pagination_next.png");
	background-position: center 4px;
	background-repeat: no-repeat;
	}
.pagination .prev a  {
	background-image: url("/assets/pagination_prev.png");
	}
.pagination .next a:hover, .pagination .prev a:hover  {
	background-position: center -40px;
}


/**
 * Tables
 */
table, #themes_list { width: 100%; margin: 0 0 20px 0; }
tr th, #reorder_themes h2 {
	background: #AAA;
	padding: 4px;
	text-align: left;
	font-size: 14px;
	color: #DDD;
	border-right: 1px solid #BBB;
	}
tr th:first-child {	
	border-radius: 4px 0 0 0;
	}
tr th:last-child {	
	border-radius: 0 4px 0 0;
	border-right: none;
	}
#reorder_themes h2 {
	border-radius: 4px 4px 0 0;
	padding-left: 10px;
	font-weight: bold;
	}
tr:last-child td:first-child {	
	border-radius: 0 0 0 4px;
	}
tr:last-child td:last-child {	
	border-radius: 0 0 4px 0;
	}
tr th:only-child {	
	border-radius: 4px 4px 0 0;
	border-right: none;
	}
#themes_list li:last-child {
	border-radius: 0 0 4px 4px;
	}
th a, th a:visited {
	color: #DDD;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	}
th a:hover {
	color: #FFF;
	}
th a.current { padding-right: 12px; }
th a.asc { background: url("/assets/arrow_asc.gif") right center no-repeat; }	
th a.desc { background: url("/assets/arrow_desc.gif") right center no-repeat; }
tr:nth-child(even), #themes_list li:nth-child(odd) {
	background: #F7F7F7;
	}
tr:nth-child(odd), #themes_list li:nth-child(even) {
	background: #EFEFEF;
	}
tr:hover, #themes_list li:hover {
	background: #DDDDDD;
	}
#themes_list li:hover {
	cursor: move;
	}
td, #themes_list li { 
	padding: 6px 10px;
	border-right: 1px solid #FFFFFF; 
	font-weight: 400;
	vertical-align: middle;
	}
#themes_list li { 
	border: 0; 
	font-size: 16px;
	font-weight: 700;
	}
td:first-child, th:first-child {
	padding-left: 10px;
	}
td:last-child, th:last-child {
	padding-right: 10px;
	}
td a, td a.btn:hover {
	text-decoration: none;
	}
td a:hover {
	text-decoration: underline;
	}
td a.btn, td .status {
	margin: 0 5px 0 0;
	}
tr.totals td {
	border-right: 1px solid #DDDDDD; 
	background: #CCC;
	font-size: 16px;
	font-weight: 600;
	}
td.total {
	font-size: 16px;
	font-weight: 600;
	text-align: right;
	}
td.right, th.right {
	text-align: right;
	}
td.nowrap {
	white-space: nowrap;
	}
td.bold {
	font-size: 16px;
	font-weight: 700;
}
td img.classification.help_tip {
	margin-bottom: -7px;
	width: auto;
	height: auto;
	background: none;
}
td .photo {
	float: none;
	vertical-align: middle;
	margin-right: 4px;
}

ul#searchresults {
	margin: 3px 0 20px 0;
	background: #EEE;
	border-radius: 4px;
	overflow: hidden;
	width: 40%;
}
#searchresults li {
	float: left;
	width: 100%;
	padding: 10px;
	border-bottom: 1px dotted #CCC;
}
#searchresults li:last-child {
	border-bottom: none;
}
ul .photo {
	float: left;
	margin-right: 4px;
}
img.thumb {
	width: 32px;
	height: 32px;
}
#searchresults h3 {
	font-size: 16px;
	color: #AAA;
	text-shadow: 0px 1px 0px #FFF;
	padding: 10px;
}


/**
 * Forms and Fields
 */
form { width: 70%; margin: 0 auto;}
.box form { width: auto; }
.field {
	padding: 0 0px 20px 60px; 
	width: auto;
	}
.field label {
	display: block;
	font-weight: 400;
	}
.field ul li label {
	display: inline-block;
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	}
.field .input {
	float: none; 
	margin-top: 6px;
	width: 80%;
	}
.field p.example {
	width: 80%;
	padding: 2px 20px 0 20px;
	margin: 0;
	color: #666;
	font-size: 13px;
	line-height: 18px;
	}
.field ul {
	padding-left: 20px;
	}
.field input[type="radio"], div.field input[type="checkbox"] {
	width: 16px;
	height: 16px;
	}
input[type="file"] {
	padding-bottom: 20px;
	}
.field_with_errors { min-height: 20px; }
fieldset {
	margin: 30px;
	padding: 10px 20px 0px 20px;
	border: 1px solid #EDE2D6;
	}
fieldset .confirm { padding-left: 20px; font-weight: bold; }
legend { text-align:right; }
textarea {
	width: 60%;
	height: 100px;
	}
form .actions {
	float: none;
	padding: 20px 0 0 55px;
	}
#reorder_form {
	width: auto;
	margin: 0;
	padding: 0;
}
input.search {
	background-image: url("/assets/bgd-inputshadow-search.png") !important;
	background-position: right -2px;
}


/**
 * General Styles
 */
.explaination {
	font-size: 12px;
	color: #999;
}
.help_tip {
	display: inline-block;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	background-image: url("/assets/help.png");
	background-position: 0 0;
}
.help_tip:hover {
	background-position: 0 -16px;
}

.toggler {
	display: block;
	width: 100%;
	text-align: right;
	text-decoration: none;
	}
.toggle_me {
	display: none;
	}
	
.filterby {
	float: right; 
	width: 250px; 
	background: #D6D6D6; 
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorstr='#D6D6D6');
	background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#D6D6D6));
	background: -moz-linear-gradient(top, #E7E7E7, #D6D6D6);
	border: 1px solid #B5B5B5;
	border-radius: 4px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	}
.filterby h2 {
	padding:4px 6px;
	font-size: 14px;
	font-weight: 700;
	color: #666;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	}
.filterby .toggler {
	float: right;
	margin-top: -16px;
	position: relative;
	font-size: 12px;
	font-weight: 600;
	color: #777;
	}
.filterby ul {
	margin:0;
	padding:6px 12px 12px 12px;
	}
.filterby ul li {
	padding: 3px 0;
	}

.price {
	font-size: 18px;
	font-weight: 600;
}
.registrant, .member {
	padding-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px solid #EEE; 
	margin-bottom: 30px;
}
.member {
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.registrant .mini_profile p {
	padding-bottom: 10px;
}
ul.registrants li:last-child, ul.members li:last-child {
	border-bottom: none;
}
.none { color: #EFEFEF; }
.rightcol .none { color: #CCC; }
.index_blocks {
	float: left;
	width: 100%;
	padding-bottom: 30px;
}
.index_block {
	width: 220px;
	margin: 0 0 20px 20px;
	padding: 30px 0 0 0;
	float: left;
	text-align: center;
	background: #CCC;
	border-radius: 6px;
}	
.index_block h2 {
	padding-bottom: 20px;
	color: #FFF;
}
.index_block a {
	color: rgba(255, 255, 255, .5);
	font-weight: 600;
}
.index_block a.all_years {
	display: block;
	padding: 6px 0;
	background: rgba(0, 0, 0, .2);
	border-radius: 0px 0px 6px 6px;
}
.index_block a.all_years:hover {
	background: rgba(0, 0, 0, .6);
}
.index_block a:hover {
	color: rgba(255, 255, 255, 1);
}
.index_block a.right {
	float: none;
	display: block;
	position: relative;
	margin-top: -20px;
	text-align: right;
	padding-right: 10px;
}
.index_block a.btn {
	color: #FFF;
	margin-bottom: 10px;
}
.index_blocks .bssm1 h2, .index_blocks .bssm2 h2, .index_blocks .bssm3 h2, .index_blocks .ldp1 h2, .index_blocks .ldp2 h2 {
	background-repeat: no-repeat;
	background-position: center top;
	text-indent: -9999px;
	display: block;
	padding-bottom: 50px;	
}
.index_block.bssm1 a.btn:hover, .index_block.bssm2 a.btn:hover, .index_block.bssm3 a.btn:hover {
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6), 0px 0px 14px rgba(255, 255, 255, 0.9);
}
.index_blocks .ldp1 { background: url('/assets/block_LDP1.jpg') }
.index_blocks .ldp2 { background: url('/assets/block_LDP2.jpg') }
.index_blocks .bssm1, .index_blocks .bssm2, .index_blocks .bssm3 { background: url('/assets/block_BSSM3.jpg') }
	.index_blocks .bssm1 h2 { background-image: url('/assets/icon-group-bssm1.png'); }
	.index_blocks .bssm2 h2 { background-image: url('/assets/icon-group-bssm2.png'); }
	.index_blocks .bssm3 h2 { background-image: url('/assets/icon-group-bssm3.png'); }
	.index_blocks .ldp1 h2 { background-image: url('/assets/icon-group-ldp1.png'); }
	.index_blocks .ldp2 h2 { background-image: url('/assets/icon-group-ldp2.png'); }
.index_blocks .ldc { background: url('/assets/block_LDC.jpg') }

.popup { padding: 60px; text-align: center; border-radius: 4px; }
.popup h2 { 
	font-size: 18px;
	color: #666;
}
.popup ul {margin: 0;}
.popup ul li a {
	display: block;
	width: 100%;
	padding: 6px 0;
	font-size: 24px;
}

p.center {
	text-align: center;
}

#newest_form, #total_actions { float: right; width: auto; margin:0; }

/* ==================== BAR GRAPH  ==================== */
/* ------ container ------ */
div.css_bar_graph
	{
	width: 100%;
	height: 320px;
	padding: 0px;
	/* --- font --- */
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: normal;
	color: #444444;
	background-color: #ffffff;
	position: relative; 
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 100px;
	border: 1px solid #d5d5d5;
	/* --- css3 --- */
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	}
	
/* ------ hyperlinks ------ */
div.css_bar_graph a
	{
	color: #444444;
	text-decoration: none;
	}
	
/* ------ lists ------ */
div.css_bar_graph ul
	{
	margin: 0px 0 0 -1px;
	padding: 0px;
	list-style-type: none;
	}
	
div.css_bar_graph li
	{
	margin: 0px;
	padding: 0px;
	}

/* ==================== Y-AXIS LABELS ==================== */
/* ------ base ------ */
div.css_bar_graph ul.y_axis
	{
	width: 0px;
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: right;
	}
	
/* ------ labels ------ */
div.css_bar_graph ul.y_axis li
	{
	height: 28px;	/* 50px including border */
	float: left;
	color: #888888;
	/* --- alignment correction --- */
	border-top: 1px solid transparent;
	position: relative;
	top: -20px;	/* value = font height */
	left: -45px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	}	
	
/* ==================== X-AXIS LABELS  ==================== */
/* ------ base ------ */
div.css_bar_graph ul.x_axis
	{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-bottom: -54px;
	text-align: center;
	}
	
/* ------ labels ------ */
div.css_bar_graph ul.x_axis li
	{
	display: inline;
	width: 7.69%;
	float: left;
	color: #999;
	}
	
/* ==================== GRAPH LABEL  ==================== */
/* ------ base ------ */
div.css_bar_graph div.label
	{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 60px;
	text-align: center;
	}
	
div.css_bar_graph div.label span
	{
	font-weight: bold;
	}
	
/* ==================== GRAPH  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph
	{
	width: 100%;
	height: 100%;
	float: left;
	}
	
/* ------ grid ------ */
div.css_bar_graph div.graph ul.grid
	{
	width: 100%;
	padding-top: 4%;
	}
	
/* ------ IE grid ------ */
div.css_bar_graph div.graph li
	{
	width: 100%;
	height: 28px;	/* 50px including border */
	float: left;
	border-top: 1px dashed #d5d5d5;
	}
	
/* ------ other browsers grid ------ */
div.css_bar_graph div.graph li:nth-child(odd)
	{
	width: 100%;
	height: 28px;	/* 50px including border */
	float: left;
	border-top: 1px dashed #d5d5d5;

	}
	
div.css_bar_graph div.graph li:nth-child(even)
	{
	width: 100%;
	height: 28px;	/* 50px including border */
	float: left;
	border-top: 1px dashed #d5d5d5;
	}
	
/* ------ bottom grid element ------ */
div.css_bar_graph div.graph li.bottom
	{
	border: 1px solid #d5d5d5;
	background-color: #DDD;
	height: 18px;
	border-radius: 0 0 10px 10px;
	}
	
/* ==================== BARS COMMON  ==================== */
/* ------ common styles ------ */
div.css_bar_graph div.graph li.bar
	{
	width: 4%;
	float: left;
	position: absolute;
	bottom: -2%;
	text-align: center;
	/* --- css3 --- */
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}
	
/* ------ bar top circle ------ */
div.css_bar_graph div.graph li.bar div.top
	{
	width: 100%;
	height: 10px;
	margin-top: -5px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}
	
/* ------ bar bottom circle ------ */
div.css_bar_graph div.graph li.bar div.bottom
	{
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: -5px;
	left: 0px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}

/* ------ bar top label ------ */
div.css_bar_graph div.graph li.bar span
	{
	visibility: hidden;	/* show label on mouse over */
	position: relative;
	top: -45px;
	padding: 3px 5px 3px 5px;
	z-index: 100;
	background-color: #eeeeee;
	border: 1px solid #bebebe;
	/* --- css3 --- */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	/* --- gradient --- */
	background-image: linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE8 */
	background: -ms-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* IE9 */
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Firefox */ 
	background: -o-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Opera 11  */
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.05, #f1f1f1), color-stop(1, #ebebeb)); /* Chrome 10, Safari */
	/* --- shadow --- */
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}
	
/* ------ bars positions ------ */
div.css_bar_graph div.graph li.nr_1
	{
	left: 2%;
	}
	
div.css_bar_graph div.graph li.nr_2
	{
	left: 9.7%;
	}
	
div.css_bar_graph div.graph li.nr_3
	{
	left: 17.2%;
	}
	
div.css_bar_graph div.graph li.nr_4
	{
	left: 25%;
	}
	
div.css_bar_graph div.graph li.nr_5
	{
	left: 32.8%;
	}
	
div.css_bar_graph div.graph li.nr_6
	{
	left: 40.4%;
	}
	
div.css_bar_graph div.graph li.nr_7
	{
	left: 48%;
	}
	
div.css_bar_graph div.graph li.nr_8
	{
	left: 55.7%;
	}
	
div.css_bar_graph div.graph li.nr_9
	{
	left: 63.3%;
	}
	
div.css_bar_graph div.graph li.nr_10
	{
	left: 71%;
	}
	
div.css_bar_graph div.graph li.nr_11
	{
	left: 78.5%;
	}
	
div.css_bar_graph div.graph li.nr_12
	{
	left: 86.7%;
	}
	
div.css_bar_graph div.graph li.nr_13
	{
	left: 94.2%;
	}

/* ==================== BLUE BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.blue
	{
	background: #208faf;	/* --- IE --- */
	background: rgba(32,143,175,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.blue div.top
	{
	background: #72b8cc;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.blue div.bottom
	{
	background: #208faf;
	}
	
/* ==================== GREEN BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.green
	{
	background: #608d00;	/* --- IE --- */
	background: rgba(96,141,0,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.green div.top
	{
	background: #a2c656;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.green div.bottom
	{
	background: #608d00;
	}
	
/* ==================== ORANGE BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.orange
	{
	background: #ff9000;	/* --- IE --- */
	background: rgba(255,144,0,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.orange div.top
	{
	background: #ffc24c;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.orange div.bottom
	{
	background: #ff9000;
	}
	
/* ==================== PURPLE BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.purple
	{
	background: #7d47ba;	/* --- IE --- */
	background: rgba(125,71,186,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.purple div.top
	{
	background: #b592dd;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.purple div.bottom
	{
	background: #7d47ba;
	}
	
/* ==================== RED BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.red
	{
	background: #d23648;	/* --- IE --- */
	background: rgba(210,54,72,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.red div.top
	{
	background: #ea828e;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.red div.bottom
	{
	background: #d23648;
	}
	
/* ==================== HOVERS  ==================== */
div.css_bar_graph div.graph li.blue:hover
	{
	cursor: pointer;
	background: #208faf;
	}
	
div.css_bar_graph div.graph li.green:hover
	{
	cursor: pointer;
	background: #608d00;
	}
	
div.css_bar_graph div.graph li.orange:hover
	{
	cursor: pointer;
	background: #ff9000;
	}
	
div.css_bar_graph div.graph li.purple:hover
	{
	cursor: pointer;
	background: #7d47ba;
	}
	
div.css_bar_graph div.graph li.red:hover
	{
	cursor: pointer;
	background: #d23648;
	}
	
div.css_bar_graph div.graph li.bar:hover span
	{
	visibility: visible;
	cursor: pointer;
	top: -26px;
	margin: 0px;
	}

.data .scales {
	padding-bottom: 18px;
}
.data .scales strong {
	float: left;
	font-weight: normal;
	line-height: 20px;
}
.data .scales .scale {
	position: relative;
	display: block;
	margin: 0 0 0 230px;
	padding-left: 4px;
	height: 20px;
	line-height: 16px;
	background-image: url("/assets/scales-5.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
}
.data .scales .scale_1 { background-position: 0 -20px; padding-left: 39px; }
.data .scales .scale_2 { background-position: 0 -40px; padding-left: 88px; }
.data .scales .scale_3 { background-position: 0 -60px; padding-left: 140px; }
.data .scales .scale_4 { background-position: 0 -80px; padding-left: 190px; }
.data .scales .scale_5 { background-position: 0 -100px; padding-left: 241px; }	
